.hero-div{
        padding-top: 12em;
        padding-right: 6em;
        padding-left: 6em;
        display: flex;
        justify-content: space-between;

}



.div-for-new{
    background-color: #292482;
    color: white;
    padding: 0.45em 0.8em;
    border-radius: 23em;
    font-size: 0.91em;
    width: 4em;
}
.new-width-changes{
    width: 50%;;
}
.div-gray-tray{
    background-color: #d9d9d958;
    padding: 0.45em 0.8em;
    border-radius: 23em;
    display: flex;
    align-items: center;
    width: 21em;
    font-size: 0.8em;
    justify-content: space-around;
}
.h1-hero{
    font-size: 3.4em;
    margin-top: 1em;
    margin-bottom: 0.6em;
}
.hero-btn-div{
    margin-top: 3em;
    display: flex;
  
}

 .img-for-width{
    width:31.6em;
    height: 58em;
    margin-top: -5em;
 }
 .padding-section-one{
    padding:6em;
    width: 52em;
}


 @media (max-width:1050px){
    .hero-div{
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        padding:3em;
    }
    .new-width-changes{
        width:100%;
    }
    .img-for-width{
        width:31.6em;
        height: 38em;
        margin-top: 3em;
     }
     .h1-hero{
        font-size: 2.4em;
        margin-top: 0.9em;
        margin-bottom: 0.9em;
    }
    .div-gray-tray{
        margin-top: 11em;
    }
    .padding-section-one{
        padding:3em;
        width: 32em;
    }
 }

 @media (max-width:575px){
    .hero-div{
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        padding:2em;
    }
    .new-width-changes{
        width: 100%;
    }
    .img-for-width{
        width:24.6em;
        height: 29em;
        margin-top: 3em;
     }
     .h1-hero{
        font-size: 1.7em;
        margin-top: 1.6em;
        margin-bottom: 0.9em;
    }
    .div-gray-tray{
        margin-top: 9em;
    }
    .hero-btn-div{
        margin-top: 3em;
        display: flex;
        flex-direction: column;
        
    }
    .p-hero{
        font-size: 0.8em;
    }
    .padding-section-one{
        padding:2em;
        width: 25em;
    }
    
 }

 @media (max-width:442px){
    .hero-div{
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        padding:1em;
    }
    .new-width-changes{
        width: 100%;
    }
    .img-for-width{
        width:20.6em;
        height: 25em;
        margin-top: 3em;
     }
     .h1-hero{
        font-size: 1.4em;
        margin-top: -1em;
        margin-bottom: 0.4em;
    }
    .div-gray-tray{
        margin-top: 9em;
    }
    .hero-btn-div{
        margin-top: 3em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .p-hero{
        font-size: 01em;
    }
    .padding-section-one{
        padding:1em;
        width: 22em;
    }
    
 }