.sub-input{
    width: 100vw;
}
.values-quality{
    background-color: black;
    margin-top: -2em;
    color: white;
}

.form-subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input-subscribe{
    width: 20em;
    height: 3.4em;
    padding-left: 1em;
    border-radius: 0.8em;
    border: none;
    margin-top: 1em;
}
.btn-subscribe{
    padding: 1.05em;
    margin-left: 0.5em;
    background-color: orangered;
    border: none;
    border-radius: 0.8em;
    color:white;
}

.div-values{
    
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4em;
    height: 70vh;

}
.div-values>h1{
    color: white;
    margin-bottom: 0.5em;
    font-size: 2.8em;
  

}

.div-values>p{
    color: white;
    margin-bottom: 0.5em;
    font-size: 0.9em;
  

}

@media(max-width: 600px){
    .div-values{
        
        color: white;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2em;
        height: 70vh;
    
    }
    .div-values>h1{
        font-size: 1.9em;
    
    }
}