.footer-div{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 2em;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4em;
    
}

.footer-divdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2em;
    width: 100%;
    justify-content: space-between;
    
}
.footer-div-div{
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
}

.svg-footer{
    width: 2em;
    height: 2em;
}
.icons-footer{
    display: flex;
    gap: 3em;
    justify-content: space-between;
}

@media(max-width:567px){
    .footer-div{
        display: flex;
        background-color: black;
        color: white;
        padding: 2em;
        align-items: center;
        justify-content: space-between;
        
    }
    .btn-subscribe{
        padding: 1.05em;
        margin-left: 0.5em;
        background-color: orangered;
        border: none;
        border-radius: 0.8em;
        color:white;
    }
}