.terms-p, li{
    margin-top: 1em;
    margin-bottom: 1.6em;
}

.terms-div{
    margin: 8em;
}
p{
    font-weight: 200;
    
}
@media(max-width:800px) {
    .terms-div{
        margin: 2em;
    }
    
}